/********** CUSTOM CSS **********/

/* Color Scheme
Red: #dc3522
Navy: #333d51
Gold: #d3ac2b
Grey: #cbd0d8
Off White: #f4f3ea

Off White 1: #fdfdfd
Off White 2: #efefef
Off White 3: #e3e3e3
*/

/********** GLOBAL STYLES **********/

body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
}

section {
  padding: 1em 1em 2em 1em;
}

h2, h3, h4 {
  text-align: center;
}

h2 {
  margin-bottom: 0.8em;
}

h3 {
  margin-bottom: 0.8em;
}

a {
  color: #333333;
  font-weight: bold;
}

a:hover {
  color: #dc3522;
  text-decoration: none;
}

.group {
  margin: 1em 0 0 0;
}

.btn {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  /* color: #efefef; */
}

.btn-danger {
  background-color: #dc3522;
}

.cta {
  margin: 1em 0;
  border: 2px solid #d3ac2b;
  padding: 1.5em;
  text-align: center;
}

a.thumbnail:hover {
  border-color: #d3ac2b;
  text-decoration: none;
}

.caption h4 {
  margin: 0;
}

.red {
  color: #dc3522;
  font-weight: 500;
}

/********** HEADER **********/

/********** Navbar **********/
/*
https://www.jquery-az.com/how-to-change-bootstrap-navbar-color-and-other-default-properties/
*/

.navbar-default {
  background-color: #333d51;
  border-color: #333d51;
}

  /* Title */
  .navbar-default .navbar-brand {
    color: #efefef;
    font-weight: bold;
    letter-spacing: 4px;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #d3ac2b;
  }

  /* Dropdown */
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #cbd0d8;
    padding: 0;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #cbd0d8;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
    font-size: 1.1em;
    letter-spacing: 1px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #efefef;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li:focus {
    background-color: #d3ac2b;
  }

  /* Link */
  .navbar-default .navbar-nav > li > a {
    color: #efefef;
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: 400;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #d3ac2b;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #d3ac2b;
    background-color: #333d51;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #d3ac2b;
    background-color: #333d51;
  }

  /* Caret */
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #efefef;
    border-bottom-color: #efefef;
  }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret,
  .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d9cb9e;
    border-bottom-color: #d9cb9e;
  }
  .navbar-default .navbar-nav > .open > a .caret,
  .navbar-default .navbar-nav > .open > a:hover .caret,
  .navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #d9cb9e;
    border-bottom-color: #d9cb9e;
  }

  /* Mobile version */
  .navbar-default .navbar-toggle {
    border: 1px solid transparent;
  }
    /* Remove border when clicked */
    .navbar-default .navbar-toggle:focus {
      border: 1px solid transparent;
      background-color: transparent;
    }
    /* Show border on hover */
    .navbar-default .navbar-toggle:hover {
      border: 1px solid #efefef;
      background-color: transparent;
    }
    /* Hamburger bar colour */
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #efefef;
    }


/********** MAIN CONTENT **********/

/********** Jumbotron **********/

.jumbotron {
  background: url(../img/jumbobg.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}

  .jumbotron h1 {
    text-shadow: 2px 2px 25px #000;
    color: #fdfdfd;
    letter-spacing: 4px;
  }

  .jumbotron h1 a {
    color: #fdfdfd;
    text-decoration: none;
  }

  .jumbotron h4 {
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px #000;
    margin-bottom: 2em;
    color: #fdfdfd;
  }

/********** About **********/

#about {
  background-color: #fdfdfd;
}

/********** Services **********/

#services {
  background-color: #f4f3ea;
}

/********** Testimonials **********/

#testimonials {
  background-color: #fdfdfd;
}


.quote {
  margin: 0.5em 0;
  padding: 1.5em;
  height: 100%;
  background-color: #e3e3e3;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}



/********** Contact **********/

#contact {
  background-color: #f4f3ea;
  text-align: center;
}

/********** FOOTER **********/

footer {
  padding: 1em;
  background-color: #333d51;
  color: #efefef;
  text-align: center;
}
footer a {
  color: #efefef;
  font-weight: bold;
}
footer a:hover {
  color: #d3ac2b;
  text-decoration: none;
}


/********** Media Queries **********/
