/********** CUSTOM CSS **********/

/* Color Scheme
Red: #dc3522
Tan: #d9cb9e
Light Grey: #374140
Dark Grey: #2a2c2b
Black: #1e1e20
Neutral: #efefef
Off White: #fdfdfd
*/

/********** GLOBAL STYLES **********/

body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
}

section {
  padding: 1em 1em 2em 1em;
}

h2, h3, h4 {
  text-align: center;
}

h2 {
  margin-bottom: 0.8em;
}

h3 {

}

/* p {
  margin-bottom: 1em;
} */

.group {
  margin: 1em 0;
}

.btn {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  /* color: #efefef; */
}

.btn-danger {
  background-color: #dc3522;
}

.cta {
  margin: 1em 0;
  background-color: #d9cb9e;
  /* color: white; */
  padding: 1em;
  text-align: center;
}

.caption h4 {
  margin: 0;
}

.red {
  color: #dc3522;
  font-weight: 500;
}

/********** HEADER **********/

/********** Navbar **********/
/*
https://www.jquery-az.com/how-to-change-bootstrap-navbar-color-and-other-default-properties/
*/

.navbar-default {
  background-color: #2a2c2b;
  border-color: #2a2c2b;
}

  /* Title */
  .navbar-default .navbar-brand {
    color: #efefef;
    font-weight: 400;
    letter-spacing: 4px;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #fdfdfd;
  }

  /* Dropdown */
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #374140;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #efefef;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #efefef;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d9cb9e;
    background-color: transparent;
  }

  /* Link */
  .navbar-default .navbar-nav > li > a {
    color: #efefef;
    letter-spacing: 1px;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #d9cb9e;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #d9cb9e;
    background-color: #2a2c2b;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #d9cb9e;
    background-color: #2a2c2b;
  }

  /* Caret */
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #efefef;
    border-bottom-color: #efefef;
  }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret,
  .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d9cb9e;
    border-bottom-color: #d9cb9e;
  }
  .navbar-default .navbar-nav > .open > a .caret,
  .navbar-default .navbar-nav > .open > a:hover .caret,
  .navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #d9cb9e;
    border-bottom-color: #d9cb9e;
  }

  /* Mobile version */
  .navbar-default .navbar-toggle {
    border: 1px solid transparent;
  }
    /* Remove border when clicked */
    .navbar-default .navbar-toggle:focus {
      border: 1px solid transparent;
      background-color: transparent;
    }
    /* Show border on hover */
    .navbar-default .navbar-toggle:hover {
      border: 1px solid #efefef;
      background-color: transparent;
    }
    /* Hamburger bar colour */
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #efefef;
    }


/********** MAIN CONTENT **********/

/********** Jumbotron **********/

.jumbotron {
  background: url(../img/jumbobg.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}

  .jumbotron h1 {
    text-shadow: 2px 2px 25px #000;
    color: #fdfdfd;
    letter-spacing: 4px;
  }

  .jumbotron h1 a {
    color: #fdfdfd;
    text-decoration: none;
  }

  .jumbotron h4 {
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px #000;
    margin-bottom: 2em;
    color: #fdfdfd;
  }

/********** About **********/

#about {
  background-color: #efefef;
}

/********** Services **********/

#services {
  background-color: #e3e3e3;
}

/********** Testimonials **********/

#testimonials {
  background-color: #efefef;
}

.quote {
  font-style: italic;
}

.customer {
  text-align: right;
}

/********** Contact **********/

#contact {
  background-color: #d9cb9e;
  text-align: center;
}

/********** FOOTER **********/

footer {
  padding: 1em;
  background-color: #2A2C2B;
  color: #efefef;
  text-align: center;
}


/********** Media Queries **********/
